@model ShoesStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Twój koszyk";
}

<style>
    #cartTable td {
        vertical-align: middle
    }
</style>


<div class="row justify-content-center m-0 p-0 m-md-5">
    <!-- Filtry -->
    <div class="col-xl-8 col-lg-9 p-2 m-0">
        <div class="card rounded-0 shadow-sm p-3 bg-light bg-light">
            <div class="card-body text-left">
                <h3 class="card-title">Twój koszyk</h3>
                <p class="card-text mt-2">
                    <table class="table-striped w-100 md-5" align="center" id="cartTable">
                        <thead>
                            <tr>
                                <th scope="col">Ilość</th>
                                <th scope="col">Produkt</th>
                                <th scope="col">Cena</th>
                                <th scope="col">Wartość</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var line in Model.Cart.Lines)
                            {
                                <tr scope="row">
                                    <td class="text-left">@line.Quantity</td>
                                    <td class="text-left">@line.SchoesModel.Brand.BrandName @line.SchoesModel.SchoesModelName</td>
                                    <td class="text-left">@line.SchoesModel.Price.ToString("c")</td>
                                    <td class="text-left">@((line.Quantity*line.SchoesModel.Price).ToString("c")).</td>
                                    <td style="width:30px">
                                        @using (Html.BeginForm("RemoveFromCart", "Cart"))
                                        {
                                            @Html.Hidden("modelId", line.SchoesModel.SchoesModelID)
                                            @Html.HiddenFor(x => x.ReturnUrl); ////Html.HiddenFor(x => x.Page)//Html.HiddenFor(x => x.SchoesFilterInfo)

                                            <input class="btn btn-sm btn-warning float-right" type="submit" value="Usuń" />
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot class="justify-content-right">
                            <tr scope="row">
                                <td></td>
                                <td></td>
                                <td scope="col">Razem:</td>
                                <td scope="col">
                                    @Model.Cart.ComputeTotalValue().ToString("c")
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="m-4">
                        <a class="btn btn-primary pull-right m-1" href="@Model.ReturnUrl">Kontynuuj zakupy</a>
                        @Html.ActionLink("Złóż zamównienie", "Checkout", null, new { @class = "btn btn-primary pull-right m-1" })
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>